
/* General */
h1 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 300%;
    color: #333333
}
h3 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 200%;
    color: #333333
}
h5 {
    font-family: Lora;
    font-weight: 500;
    font-size: 150%;
    color: #333333;
}
p {
    font-family: Lora;
    font-size: 150%;
    color: #333333;
    line-height: 1.5;
}
a:link {
    color: #e83e8c;
    text-decoration: none;
}
a:visited {
    color: #e83e8c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
pre {
    font-size : 150%;
    color: #e83e8c
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container p {
    text-align: center;
}

/* Center Piece */
.center-piece {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.center-piece div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-piece div h1 {
    font-size: 600%;
    font-weight: 700;
    margin: 16px;
}
.center-piece div h3 {
    font-size: 250%;
    font-weight: 300;
    margin: 8px;
}

/* Nav */
.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.nav-item {
    padding: 5px;
    cursor: pointer;
}
.nav-item h1 {
    font-size: 200%;
}
.nav-item h1 a {
    color: #333333;
}

/* Page */
.page-container {
    max-width: 1366px;
    margin: auto;
}
