
/* General */
h1 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 200%;
    color: #333333
}
h3 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 150%;
    color: #333333
}
h5 {
    font-family: Lora;
    font-weight: 500;
    font-size: 100%;
    color: #333333;
}
p {
    font-family: Lora;
    font-size: 110%;
    color: #333333;
    line-height: 1.5;
}
a:link {
    color: #e83e8c;
    text-decoration: none;
}
a:visited {
    color: #e83e8c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
pre {
    font-size : 100%;
    color: #e83e8c;
}
code {
    color: #666666;
    font-weight: 900;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container img {
    max-width: 800px;
}
.image-container p {
    text-align: center;
}
.large-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.large-image-container img {
    max-width: 1000px;
    width: 95%;
}
.large-image-container p {
    text-align: center;
}

/* Center Piece */
.center-piece {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.center-piece div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-piece div img {
        width: 60px;
    }
.center-piece div h1 {
    font-size: 300%;
    font-weight: 700;
    margin: 16px;
}
.center-piece div h3 {
    font-size: 150%;
    font-weight: 300;
    margin: 8px;
}

/* Nav */
.nav-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-bar-left {
    display: flex;
    width: 280px;
    justify-content: space-between;
}
.nav-bar img {
    width: 40px;
}
.nav-item {
    cursor: pointer;
}
.nav-item h1 {
    font-size: 150%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav-item h1 a {
    color: #333333;
}

/* Page */
.page-container {
    max-width: 1080px;
    margin: auto;
    padding: 30px;
    padding-top: 0px;
}

@media screen and (max-width: 900px) {

    /* General */
    h1 {
        font-size: 190%;
    }
    h3 {
        font-size: 160%;
    }
    h5 {
        font-size: 120%;
    }
    p {
        font-size: 110%;
    }
    pre {
        font-size : 120%;
    }
    .image-container img {
        max-width: 100%;
        padding: 20px;
    }
    .large-image-container img {
        max-width: 100%;
        padding: 20px;
    }

    /* Center Piece */
    .center-piece div img {
        width: 40px;
    }
    .center-piece div h1 {
        font-size: 220%;
    }
    .center-piece div h3 {
        font-size: 120%;
    }

    /* Nav */
    .nav-bar-left {
        width: 250px;
    }
    .nav-item {
        padding-left: 2px;
        padding-right: 2px;
    }
    .nav-item h1 {
        font-size: 130%;
    }
}
